In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib as mtp
%matplotlib inline

In [7]:
df = pd.read_csv('combine_data.csv')

In [9]:
df.describe()

,Ht,Wt,Forty,Vertical,BenchReps,BroadJump,Cone,Shuttle,Year,AV,Round,Pick
count,6218.000000,6218.000000,6046.000000,4796.000000,4212.000000,4754.000000,3993.000000,4063.000000,6218.000000,6218.000000,3738.000000,3738.000000
mean,73.798971,243.372145,4.783784,32.818599,20.926163,113.943837,7.282307,4.390603,2009.041975,5.085719,3.838684,113.728464
std,2.621373,45.103814,0.305984,4.213729,6.393679,9.317031,0.422882,0.268836,5.471056,7.546556,1.952728,70.605155
min,65.000000,149.000000,4.220000,17.500000,2.000000,74.000000,6.280000,3.730000,2000.000000,-4.000000,1.000000,1.000000
25%,72.000000,206.000000,4.540000,30.000000,16.000000,108.000000,6.970000,4.190000,2004.000000,0.000000,2.000000,53.000000
50%,74.000000,233.000000,4.700000,33.000000,21.000000,115.000000,7.190000,4.350000,2009.000000,1.000000,4.000000,108.000000
75%,76.000000,281.000000,4.980000,35.500000,25.000000,121.000000,7.540000,4.560000,2014.000000,8.000000,5.000000,169.000000
max,82.000000,375.000000,6.050000,46.000000,49.000000,147.000000,9.120000,5.560000,2018.000000,51.000000,7.000000,260.000000

In [14]:
df.head()

,Player,Pos,Ht,Wt,Forty,Vertical,BenchReps,BroadJump,Cone,Shuttle,Year,Pfr_ID,AV,Team,Round,Pick
0,John Abraham,OLB,76,252,4.55,NaN,NaN,NaN,NaN,NaN,2000,AbraJo00,26.0,New York Jets,1.0,13.0
1,Shaun Alexander,RB,72,218,4.58,NaN,NaN,NaN,NaN,NaN,2000,AlexSh00,26.0,Seattle Seahawks,1.0,19.0
2,Darnell Alford,OT,76,334,5.56,25.0,23.0,94.0,8.48,4.98,2000,AlfoDa20,0.0,Kansas City Chiefs,6.0,188.0
3,Kyle Allamon,TE,74,253,4.97,29.0,NaN,104.0,7.29,4.49,2000,NaN,0.0,NaN,NaN,NaN
4,Rashard Anderson,CB,74,206,4.55,34.0,NaN,123.0,7.18,4.15,2000,AndeRa21,6.0,Carolina Panthers,1.0,23.0

In [16]:
df_qb = df.groupby()

KeyError: 'QB'